/* for mobile */
/* For desktop: */
.dark {
  background: rgb(44, 60, 63);
}
.dark main, .dark #bottom {
  background: rgb(54, 73, 77);
}
.dark main .num, .dark #bottom .num {
  background: rgb(68, 92, 96);
}
.dark main .threecolumns, .dark #bottom .threecolumns {
  background: rgb(38, 34, 102);
}
.dark main section:hover, .dark #bottom section:hover {
  background: rgb(116, 130, 142);
}

.navy.arial {
  font-family: Arial, Helvetica, sans-serif;
  background: #344D67;
}

.navy.times {
  font-family: "Times New Roman", Times, serif;
  background: #344D67;
}

.navy.gill {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #344D67;
}

.navy.lucida {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #344D67;
}

.navy.impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: #344D67;
}

.teal.arial {
  font-family: Arial, Helvetica, sans-serif;
  background: #6ECCAF;
}

.teal.times {
  font-family: "Times New Roman", Times, serif;
  background: #6ECCAF;
}

.teal, .gill {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #6ECCAF;
}

.teal, .lucida {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #6ECCAF;
}

.teal.impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: #6ECCAF;
}

.green.arial {
  font-family: Arial, Helvetica, sans-serif;
  background: #ADE792;
}

.green.times {
  font-family: "Times New Roman", Times, serif;
  background: #ADE792;
}

.green.gill {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #ADE792;
}

.green.lucida {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #ADE792;
}

.green.impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: #ADE792;
}

.beige.arial {
  font-family: Arial, Helvetica, sans-serif;
  background: #F3ECB0;
}

.beige.times {
  font-family: "Times New Roman", Times, serif;
  background: #F3ECB0;
}

.beige.gill {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #F3ECB0;
}

.beige.lucida {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #F3ECB0;
}

.beige.impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: #F3ECB0;
}

.mint.arial {
  font-family: Arial, Helvetica, sans-serif;
  background: #CFF5E7;
}

.mint.times {
  font-family: "Times New Roman", Times, serif;
  background: #CFF5E7;
}

.mint.gill {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #CFF5E7;
}

.mint.lucida {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #CFF5E7;
}

.mint.impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background: #CFF5E7;
}

body {
  background: #ADE792;
}
body .gridconteiner {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "history main scientific";
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
body .historyPanel {
  grid-area: history;
  height: 100%;
}
body .historyPanel .conteinerhistory {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 7fr;
}
body .historyPanel .conteinerhistory .histitle {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: space-around;
}
body .historyPanel .conteinerhistory img {
  width: 25%;
  height: 50%;
}
body .historyPanel .conteinerhistory .hispanel {
  justify-content: center;
  display: flex;
  border: 1px solid black;
}
body .scientific {
  grid-area: scientific;
  height: 100%;
}
body .scientific .scientificPanel {
  height: 100%;
}
body .scientific .conteinerscient {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 2fr repeat(3, 1fr) 2fr;
}
body .scientific .conteinerscient .scienTitle {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  grid-column: 1/3;
}
body .scientific .conteinerscient img {
  width: 20%;
  height: 50%;
}
body .scientific .conteinerscient .empty {
  grid-column: 1/3;
  border: 1px solid black;
}
body .scientific .conteinerscient .base {
  grid-column: 1/3;
}
body .scientific .conteinerscient section {
  border: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
}
body .scientific .conteinerscient section img {
  width: 40%;
  height: 80%;
}
body main {
  background: rgb(175, 232, 241);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 0.5fr) 1fr;
}
body main section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: larger;
}
body main section:hover {
  background: rgb(121, 180, 229);
}
body main .num {
  background: rgb(103, 215, 232);
}
body main .img > img {
  width: 70%;
  height: 70%;
}
body main .threecolumns {
  grid-column: 2/5;
}
body main #window {
  border: 5px solid black;
  background: rgb(20, 164, 169);
}
body main .even {
  grid-row: 7/9;
  grid-column: 5/6;
}
body main .even > img {
  width: 70%;
  height: 50%;
}
body main .doublerow {
  grid-row: -3/-1;
}

@media only screen and (max-width: 250px) {
  body .gridconteiner {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "main" "scientific" "history";
  }
  body .gridconteiner main {
    grid-area: main;
  }
}

/*# sourceMappingURL=style.css.map */
