
/* for mobile */
/* For desktop: */
.dark {
	background: rgb(44, 60, 63);
	main, #bottom{
		background: rgb(54, 73, 77);
		.num {
			background: rgb(68, 92, 96);
		}
		.threecolumns {
			background: rgb(38, 34, 102);
		}
		section {
			&:hover {
				background: rgb(116, 130, 142);
			}
		}
	}
}
body {
	// display: grid;
	// grid-template-columns: 100%;
	// grid-template-rows: 2fr 1fr 1fr;
	// grid-template-areas: "main" "scientific" "history";
	// height: 100%;
	// font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
	.gridconteiner{
		display: grid;
		// position:absolute;
		grid-template-rows: 100%;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas: "scientific" "main" "history";
		width: 100%;
		height: 100%;
	}
	main {
		// grid-area: main;
		background: rgb(175, 232, 241);
		display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-template-rows: repeat(7,0.5fr) 1fr;
		// height: 100%;
		// grid-row:auto; 
	
		section {
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid black;
			// padding: 5px;
			// margin: 5px;
			font-size: larger;
			&:hover {
				background: rgb(121, 180, 229);
			}
		}
		.num {
			background: rgb(103, 215, 232);
		}
		.img {
			>img {
				width: 70%;
				height: 70%;
			}
		}
		.threecolumns {
			grid-column: 2/5;
		}
		#window {
			border: 5px solid black;
			background: rgb(20, 164, 169);
		}
		.even {
			grid-row: 7/9;
			grid-column: 5/6;
			>img {
				width: 70%;
				height: 50%;
			}
		}
		.doublerow {
			grid-row: -3/-1;
		}
		// #bottom {
		// 	background: rgb(175, 232, 241);
		// }
	}
	.scientific {
		// grid-area: scientific;
		// background: green;
		padding: 50%;
	}
	.history {
		// grid-area: history;
		// background: #808080;
		padding: 50%;
	}
	
}
@media only screen and (max-width: 250px){
    body{
		.gridconteiner{
			display: grid;
			grid-template-rows: 2fr 1fr 1fr;
			grid-template-columns: 100%;
			grid-template-areas: "main" "scientific" "history";
			
			main{
				grid-area: main;
			}
		}
	}
	
}